Mystery[[:space:]]Ambience.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Main[[:space:]]Full.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Melodic[[:space:]]Full.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Ambient[[:space:]]Full.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Ambient[[:space:]]Loop.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Main[[:space:]]Loop.wav filter=lfs diff=lfs merge=lfs -text
Wasteland[[:space:]]Ambience[[:space:]]-[[:space:]]Melodic[[:space:]]Loop.wav filter=lfs diff=lfs merge=lfs -text
Mystery[[:space:]]Ambience[[:space:]]LOOP.wav filter=lfs diff=lfs merge=lfs -text
Frozen[[:space:]]Landscape.wav filter=lfs diff=lfs merge=lfs -text
Desert[[:space:]]Ambience.wav filter=lfs diff=lfs merge=lfs -text
Sinister[[:space:]]Ambience[[:space:]]LOOP.wav filter=lfs diff=lfs merge=lfs -text
Desert[[:space:]]Ambience[[:space:]]LOOP.wav filter=lfs diff=lfs merge=lfs -text
Barren[[:space:]]Ambience.wav filter=lfs diff=lfs merge=lfs -text
Music[[:space:]]Box.wav filter=lfs diff=lfs merge=lfs -text
Nordic[[:space:]]Landscape[[:space:]]AMBIENT[[:space:]]EDIT.wav filter=lfs diff=lfs merge=lfs -text
Nordic[[:space:]]Landscape.wav filter=lfs diff=lfs merge=lfs -text
Grand[[:space:]]Fantasy[[:space:]]City.wav filter=lfs diff=lfs merge=lfs -text
Meadow.wav filter=lfs diff=lfs merge=lfs -text
'*.wav' !text !filter !merge !diff
